* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 5vh;
  background: blue;
  color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 3vh;
  background-color: green;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu a {
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  flex: .5;
}

.main-area {
  background-color: red;
  display: flex;
}

.side-nav {
  display: flex;
  background-color: orange;
  flex-direction: column;
  padding: 10px;
  height: 80vh;
  width: 15vw;
}

.side-nav-item {
  padding: 3px;
}

.main-screen {
  padding: 10px;
  width: 85vw;
}

.screen-title {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.main-components {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.component-image {
  background-color: purple;
  height: 12vw;
  width: 25vw;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.footer-first {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 15px;
}

.social-sharing {
  padding-right: 10px;
}
